page-daftarketua {
    img {
        max-width: 85%;
        border: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        
    }

    ion-col div {
        border-radius: 2px;
        padding: 3px;
        text-align: center;
    }
}
