page-tambah-nilai {
    ion-col div {
        background-color: black;
        border: 3px solid #019FDC;
        border-radius: 8px;
        padding: 2px;
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        color: white;
      }
      
 
}
