page-berandapelatih {
    img {
        max-width: 85%;
        border: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    ion-col div {
        border-radius: 1px;
        padding: 3px;
        text-align: center;
    }

}
