page-datadiriketua {
    .img-rounded {
        border-radius: 50%;
        width: 140px;
        height: 140px;
    }
 
    ion-col div {
        //border-radius: 2px;
        border-color : darkturquoise;
        //padding: 3px;
        text-align: center;
    }

    .listheader {
        color: rgb(10, 152, 196);
    }

    .note {
        color: black;
    }
}
